<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="餐厅后台管理系统.Properties.Settings.CanTingManagerConnectionString"
            connectionString="Data Source=李桉;Initial Catalog=CanTingManager;Persist Security Info=True;User ID=xu;Password=xu"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>